table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

td, th{
    border: 1px solid black;
    padding: 5px;
}

th{
    background-color: teal;
    color: white;
}

#tbody1{
    background-color: tan;
}

#tbody2{
    background-color: azure;
}
#firstTwoCols{
    width: 20%;
}